<body>
    <h1> Edit Track </h1>

    <form action="<%= track_url %>" method= "POST">
    <input type="hidden" name = "_method" value = "PATCH">
    <input type="hidden" name= "authenticity_token" value = "<%=form_authenticity_token%>">
    <label for="title">Title: </label>
    <input type="text" id="title" name="track[title]" value ="<%=@track.title%>">
    <br/><br/>
    <label for="ord">Track Number: </label>
    <input type="number" id= "ord" name= "track[ord]" value = "<%= @track.ord%>">
    <br/><br/>
    <label for="album">Album: </label>

    <select name="track[album_id]" id="album">
        <option value="select"disabled>Choose a Album</option>
        <% albums = Album.all.each do |album| %>
        <option value="<%=album.id%>" <%= album.id == params[:album_id] ? "selected" : ""  %>><%= album.title %></option>
        <% end %>
    </select>
    <br/><br/>
    <label for="type">Track Type: </label>
    <input type="radio" name="track[bonus]" id="regular" value ="false" <%= @track.bonus ? "" : "checked" %>>
    <label for="regular">Regular</label>
    <input type="radio" name="track[bonus]" id ="bonus" value ="true" <%= @track.bonus ? "checked" : "" %>>
    <label for="bonus">Bonus</label>

    <br/><br/>
    <label for="lyrics">Lyrics: </label><br/>
    <textarea name="track[lyrics]" id="lyrics" ><%=@track.lyrics%></textarea> <br/>


    <input type="submit" value = "Edit Track">
    </form>
</body>