<h1> New Cat </h1>



<%= render 'form', is_edit: false, cat: @cat %>

<!--
<form action="<%= cats_url %>" method= "POST">

    <label for = "name"> Cat Name </label>
    <input name = "cat[name]" id = "name" value = "<%=@cat.name%>" type = "text">
    <br>
    <label for = "birth_date"> Birth Date </label>
    <input name = "cat[birth_date]" id = "birth_date" value = "<%=@cat.birth_date%>" type = "date">
    <br>
    <label for = "color"> Color </label>
    <input name = "cat[color]" id = "color" value = "<%=@cat.color%>" type = "text">
    <br>
    <label for = "sex"> Sex </label>
    <label for = "m"> M </label>
    <input name = "cat[sex]" id = "m" value = "M" type= "radio">
    <label for = "f"> F </label>
    <input name = "cat[sex]" id = "f" value = "F" type= "radio">
    <br>
    <label for = "description"> Description </label>
    <textarea name = "cat[description]" id = "description" value = "<%=@cat.description%>">
    </textarea>
    <br>
    <br>
    <input name type="submit" value="Add Cat"> 

</form>
-->